@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f7f4ef;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  transition: all 0.2s ease;
}

a:hover {
  opacity: 0.85;
}